.image-quality-chooser-game__images {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.image-quality-chooser-game__image {
	margin: 5px;
	padding: 5px;

}
img.image-quality-chooser-game__image_tag {
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

button {
	width: auto;
	text-align: center;
	font-size: 28px;
	cursor: pointer;
}

.image-quality-chooser-game__controls {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.image-quality-chooser-game__instructions {
	width: 100%;
	text-align: center;
	font-size: larger;
	font-size: 78px;
	font-weight: bold;
}

.image-quality-chooser-game__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	opacity: 90%;
	display: none;
}

.image-quality-chooser-game__results {
	text-align: center;
	padding: 0 10px;
	display: none;
	font-size: 38px;
	font-weight: bold;
}

.image-quality-chooser-game__meta_header {
	font-size: 58px;
	font-weight: bold;
}

/* Add a green border and very light green background to the winning image */
.image-quality-chooser-game.image-quality-chooser-game__complete .image-quality-chooser-game__image {
	border: 5px solid #4CAF50;
	background-color: #f1fff1;
}

/* Add a red border and very light red background to the losing image */
.image-quality-chooser-game.image-quality-chooser-game__complete .image-quality-chooser-game__image:not(.image-quality-chooser-game__winner) {
	border: 5px solid #f44336;
	background-color: #ffebeb;
}