.image-quality-chooser-game {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	width: 100%;
	background-color: transparent;
	transition: background-color 0.25s ease;
	border: 5px solid transparent;
 }

 .image-quality-chooser-game.image-quality-chooser-game__highlight {
	background-color: #eee;
	transition: background-color 0.25s ease;
}

.image-quality-chooser-game__image_wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	overflow: hidden;
	width: 45vw;
	height: 45vh;
}

.image-quality-chooser-game__image_wrapper img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	cursor: pointer;
}


.zoom .image-quality-chooser-game__image img {
	transform: scale(2);
	transition: transform .2s;
}

button {
	width: auto;
	font-size: 28px;
	margin: 10px;
	padding: 10px;
}

button.image-quality-chooser-game__button_selected {
	background-color: #4CAF50;
	color: white;
}

.image-quality-chooser-game__controls {
	text-align: center;
	width: 100%;
}

.image-quality-chooser-game__instructions {
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

.image-quality-chooser-game__instructions p {
	font-size: 28px;
}

.image-quality-chooser-game__instructions p em {
	font-style: normal;
	font-weight: bold;
	border: 1px dotted #000;
	padding: 0 2px;
	background-color: lightgoldenrodyellow;
}


.image-quality-chooser-game__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	opacity: 90%;
	display: none;
}

.image-quality-chooser-game__results {
	text-align: left;
	padding: 0 10px;
	display: none;
	font-size: 38px;
	font-weight: bold;
}

.image-quality-chooser-game__results.image-quality-chooser-game__CTA {
	text-align: center;
}

.image-quality-chooser-game__meta_header {
	font-size: 58px;
	font-weight: bold;
}

.image-quality-chooser-game.image-quality-chooser-game__complete .image-quality-chooser-game__image.WebP{
	border: 5px solid #4CAF50;
	background-color: #f1fff1;
}

.image-quality-chooser-game.image-quality-chooser-game__complete .image-quality-chooser-game__image.JPEG {
	border: 5px solid #70731d;
	background-color: #f6fdce;
}


#image-quality-chooser-image-2 {
	display: none;
}

.image-quality-chooser-game__footer-instructions {
	text-align: center;
	font-size: 18px;
}

.image-quality-chooser-game__image_header {
	font-size: 38px;
	font-weight: bold;
	clear: both;
}

#image-quality-chooser-reload-timer {
	position: absolute;
	right: 15px;
	top: 0;
}